<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONCLUSION - TESTING RESULTS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
  <script src = "/scripts/jquery.min.js"></script>
  <script src = "/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/visuals">DATA VISUALIZATIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form">REAL/FAKE NEWS PREDICTION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/conclusion">CONCLUSION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutme">ABOUTME</a>
          </li>
    </ul>
  </div>
</nav>
</div>
<div class="bg-white text-center"> 
<br/>
<br/>
<br/>
<h1><strong>FAKE NEWS PREDICTION</strong></h1>
</div>
<div class="container mt-5">
  <div class="bg-dark text-center">
    <img class="img-fluid" src="../static/fake.png" alt="FAKE NEWS" width="100%"> 
  </div>
<div class="bg-white text-center"> 
<br/>
<br/>
<br/>
<h1><strong>REAL NEWS PREDICTION</strong></h1>
</div>
<div class="container mt-5">
  <div class="bg-dark text-center">
    <img class="img-fluid" src="../static/real.png" alt="FAKE NEWS" width="100%"> 
  </div>
<div class="bg-white text-center"> 
<br/>
<br/>
<br/>
  <h1><strong>HOME PAGE</strong></h1>
  </div>
  <div class="container mt-5">
    <div class="bg-dark text-center">
      <img class="img-fluid" src="../static/home.png" alt="FAKE NEWS" width="100%"> 
    </div>
<div class="bg-white text-center"> 
<br/>
<br/>
<br/>
  <h1><strong>PREDICTION PAGE</strong></h1>
    </div>
    <div class="container mt-5">
      <div class="bg-dark text-center">
        <img class="img-fluid" src="../static/predict.png" alt="FAKE NEWS" width="100%"> 
      </div>
<div class="bg-white text-center"> 
<br/>
<br/>
<br/>
  <h1><strong>VISUALIZATIONS PAGE</strong></h1>
    </div>
    <div class="container mt-5">
      <div class="bg-dark text-center">
        <img class="img-fluid" src="../static/visuals.png" alt="FAKE NEWS" width="100%"> 
      </div>
<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>TITLE - REAL/FAKE NEWS PREDICTION APP</p>
  <p> P252 - InternShip Project - Group 4 - NLP CLASSIFICATION </p>
  <p>© Copyright SYED SHAHID NAZEER  - @Excelr-Hyderabad With AI Varient</p>
  </div>
  
</body>
</html>