<!DOCTYPE html>
<html lang="en">
<head>
  <title>FactDetective</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
  <script src = "/scripts/jquery.min.js"></script>
  <script src = "/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
  .img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  </style>
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
    <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/visuals">DATA VISUALIZATIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/form">REAL/FAKE NEWS PREDICTION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/conclusion">CONCLUSION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutme">ABOUTME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ppt">PRESENTATIONS</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>Excelr Internship Project</h2>
      <h3>Project p252 (Group-4)</h3>
      <br/>
      <h3 class="mt-2">Team Members (group 4) - P252 </h3>
        <p>Syed Shahid Nazeer</p>
        <p>Rohit Mukund Shelad</p>
        <p>Sunny Hiralal Dongare</p>
        <p>Real/Fake News Prediction Using NLP Classification</p>
        <p><a class="nav-link" href="https://github.com/Syedshahidnazeer"><img src="../static/images/GitHub-Mark-120px-plus.png" width=14% /></a><a class="nav-link" href="https://www.linkedin.com/in/shahid589"><img src="../static/images/LI-In-Bug.png" width=15% /></a></p> 
        <ul class="nav nav-pills flex-column">
         <li class="nav-item">
          <a class="nav-link active" href="#"></a>
      <br/>
      <h3 class="mt-2">Objective Of Project</h3>
        <p>Objective :This dataset consists of about 40000 articles consisting of fake as well as real news. Our aim is train our model so that it can correctly predict whether a given piece of news is real or fake. The fake and real news data is given in two separate datasets with each dataset consisting around 20000 articles each.</p>
        <p>Business Objective:</p>
          <p>1.	Need to classify the fake and real news accurately.</p>
        <p>Architecture level analysis:</p>
          <p>1.	Data transformation/Text processing using R/Python</p>
          <p>2.	Need to get sentiments Analysis and n-gram analysis with some charts like histogram, Density plot, Barplot, pie-plot etc.</p>
          <p>3.	Deployment through R Shiny or Flask/ Streamlit</p>
        <ul class="nav nav-pills flex-column">
         <li class="nav-item">
          <a class="nav-link active" href="#"></a>
       </li>
    </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Real/Fake News Prediction</h2>
      <h5>Ever wonder if a news article is real or fake? Ever wonder how to recognize real news from fake news?</h5>
      <p>The spread of fake news is a major problem in society today and detecting such fake news is vital. How can we detect fake news you ask? With machine learning
        The effects of fake news on social media can be
        Destabilizing. - Fake news can be used to sow discord and division among people, and to undermine trust in institutions.
        Harmful. - Fake news can have a negative impact on people's health, finances, and safety. For example, fake news about the COVID-19 pandemic has led to people refusing to get vaccinated, which has put them at risk of getting sick.
        Dangerous. - In some cases, fake news has been used to incite violence or hatred. For example, in India, fake news stories about religious minorities have led to mob violence.</p>
      <p>Thus, for purposes of detecting fake news from real news, we used ML algorithms to help predict fake news from real news. Join us on this journey to help identify fake news. </p>
      
      <h2 class="mt-5">Machine Learning Implementation</h2>
      <br/>
      <h5>Data Description</h5>
      <div class=""></div>
      <p>The dataset used to train our machine learning model was obtained from <a href="https://github.com/Syedshahidnazeer/Excelr-Capstone-Project-Real_Fake-News-Prediction/tree/main/Dataset">github</a>, consisting of news articles posted between 2015-2018. Two sets of data in .CSV form were used, one consisting of fake news, and another of real news. The overall format and columns were the same across both datasets.</p>
      <p>The datasets consisted of the following fields: title, text, subject, and date.</p>
      
      <h5>Data Cleaning</h5>
      <p>In order to prepare the datasets for the machine learning models, the following data cleaning steps were taken:</p>
      <ol>
        <li>Replace any empty strings with NaN.</li>
        <li>Add a binary column to each dataset, identifying the news articles as either being fake or real (0 = fake, 1 = real).</li>
        <li>Append datasets into one dataframe.</li>
        <li>Create a new column called combined_text that concatenates the title and text columns.</li>
        <li>Pre-processing by using the Natural Language Toolkit (NLTK):</li>
            <ol type="i">
              <li>Cleaned text data from combined_text using regex (regular expressions).</li>
              <li>Removed stop words (commonly used words in the English language, i.e. "a", "the", "is", "are").</li>
              <li>Tokenized the text (splitting a sentence into individual words).</li>
              <li>Lemmatized each word (removing inflections and grouping words by their lemma).</li>
            </ol>     
      </ol>
      <div class=""><img src="../static/images/screenshots/data_cleaning.png" alt="DataCleaning" width=100%></div>
      <br/>
      <h5>Machine Learning Model</h5>
      
      <p><strong>Logistic Regression</strong></p>
      <p>A logistic regression was the first model used, being a classification algorithm used to predict a discrete set of classes/categories (e.g. Yes/No, Young/Old, Happy/Sad). In our case, the discrete classes of fake and real news were mapped to a value of 0 and 1 respectively.</p>
      <div class=""><img src="../static/images/screenshots/logistic_regression1.png" alt="LogisticRegression1" width=100%></div>
      <div class=""><img src="../static/images/screenshots/logistic_regression2.png" alt="LogisticRegression2" width=100%></div>
      <br/>
      <p><strong>Decision Tree</strong></p>
      <p>A decision tree classification model was our second model used. The initial idea was that a decision tree might be a better fit for our model due to our data points not being easily separable. The flexibility of decision trees gave us our initial hypothesis that it would provide a higher accuracy score compared to a logistic regression model.</p>
      <div class=""><img src="../static/images/screenshots/decision_tree.png" alt="DecisionTree" width=100%></div>
      <br/>
      <p><strong>Multinomial Naive Bayes</strong></p>
      <p>A classification model that determines the probability of ‘A’ happening, given that ‘B’ has occurred. The assumption is that the predictors/features are independent of one another, hence the term "naive". The features/predictors used in this model were based on the frequency of words present in a given news article.</p>
      <div class=""><img src="../static/images/screenshots/naive_bayes.png" alt="NaiveBayes" width=100%></div>

      <br/>
      <h5>Outcome</h5>
      <p>After testing all three models, it was clear that the decision tree classification model was more accurate, but only by a margin. We were surprised at the accuracy of logistic regression, considering it being a more simple model. Ultimately, the slight increase in accuracy of decision trees did not justify the more complex modeling, and so we decided to stick with logistic regression for our machine learning model of choice.</p>
      <div class=""><img src="../static/images/screenshots/ml_summary.png" alt="MLSummary" width=40%></div>
      <br/>
      <p>We invite you to test our model by completing the <a href="/form">Identify Fake News</a> form. Find the latest politics news you've read or heard, paste it into the text box, and hit Verify!</p>
    </div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>TITLE - REAL/FAKE NEWS PREDICTION APP</p>
  <p> P252 - InternShip Project - Group 4 - NLP CLASSIFICATION </p>
  <p>© Copyright SYED SHAHID NAZEER  - @Excelr-Hyderabad With AI Varient</p>
</div>

</body>
</html>